
$primary:#8c7ae6;
// $primary:#139487;
$secondary:#2f3640;
$background:#fdfdfd;
// $background:#f3245e;
$gray:#2f3640;
$light:#f0f0e8;
$blackShadow:rgba(0,0,0,0.8);
$whiteShadow:rgba(255, 255, 255, 0.7);
// $headingColor: #D29D2B;
$headingColor: #cc9900;